####################################################################
# Example configuration for Stacks mainnet node runner app on AWS  #
####################################################################
# The commented out configurations are the defaults with the
# exceptions of STACKS_CHAINSTATE_ARCHIVE and STACKS_BOOTSTRAP_NODE.

# AWS configuration
AWS_ACCOUNT_ID="xxxxxxxxxxxx"                               # The AWS account ID where resources will be deployed
AWS_REGION="us-west-2"                                      # AWS region for deployment. Example: "us-west-2"

# # Instance configuration
# STACKS_INSTANCE_TYPE="m5.large"                             # The type of EC2 instance to use for the Stacks node
# STACKS_CPU_TYPE="x86_64"                                    # CPU architecture: "x86_64", "ARM_64". IMPORTANT: Ensure compatibility with instance type
# STACKS_VERSION="latest"                                     # Stacks node version to deploy. Use "latest" for the most recent version
# STACKS_BUILD_FROM_SOURCE="true"                             # By default we download binaries from official GitHub. Uncomment to build from source.
# STACKS_DOWNLOAD_CHAINSTATE="true"                            # Set to "false" to let the node sync data from block 0
STACKS_NODE_CONFIGURATION="follower"                          # Node configuration type: "follower", "signer", "miner"
# STACKS_BOOTSTRAP_NODE="..."                                 # Address of the bootstrap node for network connection
# STACKS_CHAINSTATE_ARCHIVE="..."                             # Archive node for initial chain state.

# # Network configuration
STACKS_NETWORK="mainnet"                                      # Network onto which this node should connect. One of "mainnet", "testnet", "xenon", "helium", "mocknet"
# STACKS_P2P_PORT=20444                                       # Port for P2P network connections. IMPORTANT: Replace with valid port number
# STACKS_RPC_PORT=20443                                       # Port for RPC connections. IMPORTANT: Replace with valid port number
# BITCOIN_PEER_HOST="bitcoin.mainnet.stacks.org"              # Hostname of the Bitcoin peer node. REQUIRED for connection to Bitcoin network
# BITCOIN_RPC_USERNAME="stacks"                               # Username for Bitcoin RPC authentication
# BITCOIN_RPC_PASSWORD="foundation"                           # Password for Bitcoin RPC authentication
# BITCOIN_RPC_PORT=8332                                       # Port for Bitcoin RPC connections
# BITCOIN_P2P_PORT=8333                                       # Port for Bitcoin P2P network connections

# # Secrets configuration
# STACKS_SIGNER_SECRET_ARN="none"                             # Optional. ARN for AWS Secrets Manager secret with signer private key
# STACKS_MINER_SECRET_ARN="none"                              # Optional. ARN for AWS Secrets Manager secret with miner private key

# # Storage configuration
# STACKS_DATA_VOL_SIZE=1024                                    # Volume size in GB for node data storage
# STACKS_DATA_VOL_TYPE="gp3"                                  # EBS volume type. Example: "gp2", "io2" for high-performance needs
# STACKS_DATA_VOL_IOPS=12000                                  # IOPS for "io2" volume type. IMPORTANT: Adjust based on performance needs
# STACKS_DATA_VOL_THROUGHPUT=700                              # Throughput in MB/s for "gp3" volume type. Check compatibility with chosen volume type

# # High Availability (HA) configuration
# STACKS_HA_ALB_HEALTHCHECK_GRACE_PERIOD_MIN=10               # Grace period in minutes for ALB health checks
# STACKS_HA_NODES_HEARTBEAT_DELAY_MIN=100                     # Heartbeat delay in minutes for HA node checks
# STACKS_HA_NUMBER_OF_NODES=2                                 # Number of nodes for High Availability setup
