#############################################################
# Example configuration for Stacks nodes runner app on AWS  #
#############################################################

## Set the AWS account is and region for your environment ##
AWS_ACCOUNT_ID="xxxxxxxxxxxx"
AWS_REGION="us-west-2"

## Common configuration parameters ##
STACKS_NETWORK="mainnet"                               # All options:  "mainnet", "testnet"
STACKS_NODE_CONFIGURATION="follower"                   # All options:   "follower", "signer", "miner"
STACKS_VERSION="latest"                             # Current required version of Stacks

STACKS_INSTANCE_TYPE="m5.large"
STACKS_CPU_TYPE="x86_64"                      # All options: "x86_64", "ARM_64". IMPORTANT: Make sure the CPU type matches the instance type used

# Secrets configuration
STACKS_SIGNER_SECRET_ARN="none"                            # Optional. The ARN of the secret in AWS Secrets Manager with the signer private key in it.
STACKS_MINER_SECRET_ARN="none"                             # Optional. The ARN of the secret in AWS Secrets Manager with the miner private key in it.

# Bitcoin configuration
BITCOIN_PEER_HOST=bitcoind.stacks.co
BITCOIN_RPC_USERNAME=blockstack
BITCOIN_RPC_PASSWORD=blockstacksystem

# Stacks configuration
STACKS_BOOTSTRAP_NODE="047435c194e9b01b3d7f7a2802d6684a3af68d05bbf4ec8f17021980d777691f1d51651f7f1d566532c804da506c117bbf79ad62eea81213ba58f8808b4d9504ad@testnet.stacks.co:20444"
<!-- STACKS_CHAINSTATE_ARCHIVE="https://archive.hiro.so/testnet/stacks-blockchain/testnet-stacks-blockchain-latest.tar.gz" -->
