#############################################################
# Example configuration for Base nodes runner app on AWS  #
#############################################################

## Set the AWS account is and region for your environment ##
AWS_ACCOUNT_ID="xxxxxxxx"
AWS_REGION="us-east-1"

## Common configuration parameters ##
BASE_NETWORK_ID="mainnet"              # All options:  "mainnet", "sepolia"
BASE_NODE_CONFIGURATION="full"         # All options: "full", "archive"
BASE_INSTANCE_TYPE="m7g.2xlarge"       # Reconneded for Insance Store: i3en.3xlarge, "x86_64"
BASE_CPU_TYPE="ARM_64"                 # All options: "x86_64", "ARM_64". IMPORTANT: Make sure the CPU type matches the instance type used

# Data volume configuration
BASE_DATA_VOL_TYPE="gp3"               # Other options: "io1" | "io2" | "gp3" | "instance-store" . IMPORTANT: Use "instance-store" option only with instance types that support that feature, like popular for node im4gn, d3, i3en, and i4i instance families
BASE_DATA_VOL_SIZE="1000"              # Current required data size in GB to keep both snapshot archive and unarchived version of it. For Sepolia 1000 will be sufficient.
BASE_DATA_VOL_IOPS="5000"              # Max IOPS for EBS volumes (not applicable for "instance-store")
BASE_DATA_VOL_THROUGHPUT="700"         # Max throughput for EBS gp3 volumes (not applicable for "io1" | "io2" | "instance-store")
BASE_L1_EXECUTION_ENDPOINT="https://ethereum-sepolia-rpc.publicnode.com"        # Set your own URL to Ethereum L1 node: https://docs.base.org/tools/node-providers
BASE_L1_CONSENSUS_ENDPOINT="https://ethereum-sepolia-beacon-api.publicnode.com"

BASE_RESTORE_FROM_SNAPSHOT="true"      # Download snapshot to speed up statup time
BASE_SNAPSHOT_URL="none"                # Optionally provide the URL to download snpashot: https://docs.base.org/tutorials/run-a-base-node/#snapshots

# Example for Sepolia:
#BASE_L1_EXECUTION_ENDPOINT=https://ethereum-sepolia-rpc.publicnode.com
#BASE_L1_CONSENSUS_ENDPOINT=https://ethereum-sepolia-beacon-api.publicnode.com
# Example for Mainnet and with Ethereum Blueprint with Geth-Lighthouse client combination and private IP:
#BASE_L1_EXECUTION_ENDPOINT=http://172.31.15.220:8545
#BASE_L1_CONSENSUS_ENDPOINT=http://172.31.15.220:5052

## HA nodes configuration ##
BASE_HA_NUMBER_OF_NODES="2"                                                       # Total number of RPC nodes to be provisioned. Default: 2
BASE_HA_ALB_HEALTHCHECK_GRACE_PERIOD_MIN="500"                                    # Time enough to initialize the instance
BASE_HA_NODES_HEARTBEAT_DELAY_MIN="120"                                           # Time sufficient enough for a node do sync
