*.js
!website/*.js
!website/*/*.js
!website/*/*/*.js
!website/*/*/*/*.js
!scripts/*.js
!jest.config.js
*.d.ts
node_modules
!lib/**/package-lock.json
lib/**/foo.bar

# CDK asset staging directory
.cdk.staging
cdk.out
dist
.DS_Store
spike

output.json
deploy-output.json

cdk.context.json
ec2-trust-policy.json

# DrawIO
*.drawio.bkp
*.drawio.dtmp

data-volume-snpashot*.json
sync-node-deploy*.json
instance-image*.json
rpc-node-deploy*.json
single-node-deploy*.json
ha-nodes-deploy*.json

*.OLD
.env
.idea
.vscode
