#############################################################
# Example configuration for Solana nodes runner app on AWS  #
#############################################################

## Set the AWS account is and region for your environment ##
AWS_ACCOUNT_ID="xxxxxxxxxxx"
AWS_REGION="us-east-2"

## Common configuration parameters ##
SOLANA_CLUSTER="mainnet-beta"                 # All options:  "mainnet-beta", "testnet", "devnet"
SOLANA_NODE_CONFIGURATION="extendedrpc"                   # All options:   "consensus", "baserpc", "extendedrpc"
SOLANA_VERSION="1.18.22"                       # Latest required version of Solana. Check for latest Mainnet version https://github.com/solana-labs/solana/releases

SOLANA_INSTANCE_TYPE="x2idn.16xlarge"
SOLANA_CPU_TYPE="x86_64"                      # All options: "x86_64", "ARM_64". IMPORTANT: Make sure the CPU type matches the instance type used
# Data volume configuration
SOLANA_DATA_VOL_TYPE="gp3"                    # Other options: "io1" | "io2" | "gp3" | "instance-store" . IMPORTANT: Use "instance-store" option only with instance types that support that feature, like popular for node im4gn, d3, i3en, and i4i instance families
SOLANA_DATA_VOL_SIZE="2000"                   # Current required data size to keep both smapshot archive and unarchived version of it
SOLANA_DATA_VOL_IOPS="12000"                  # Max IOPS for EBS volumes (not applicable for "instance-store")
SOLANA_DATA_VOL_THROUGHPUT="700"              # Max throughput for EBS gp3 volumes (not applicable for "io1" | "io2" | "instance-store")
# Accounts volume configuration
SOLANA_ACCOUNTS_VOL_TYPE="instance-store"     # Other options: "io1" | "io2" | "gp3" | "instance-store" . IMPORTANT: Use "instance-store" option only with instance types that support that feature, like popular for node im4gn, d3, i3en, and i4i instance families
SOLANA_ACCOUNTS_VOL_SIZE="0"                  # Current required data size to keep both smapshot archive and unarchived version of it
SOLANA_ACCOUNTS_VOL_IOPS="0"                  # Max IOPS for EBS volumes (not applicable for "instance-store")
SOLANA_ACCOUNTS_VOL_THROUGHPUT="0"            # Max throughput for EBS gp3 volumes (not applicable for "io1" | "io2" | "instance-store")
# Secrets configuration
SOLANA_NODE_IDENTITY_SECRET_ARN="none"                            # Optional. The ARN of the secret in AWS Secrets Manager with the node identity key pair. In case you want to provision a node but keep the old identity.
SOLANA_VOTE_ACCOUNT_SECRET_ARN="none"                             # Optional for consensus node type. ARN of the secret in AWS Secrets Manager with the Vote Account's key pair.
SOLANA_AUTHORIZED_WITHDRAWER_ACCOUNT_SECRET_ARN="none"            # Optional for consensus node type. The ARN of the secret in AWS Secrets Manager with the Authorized Withdrawer Account's key pair.
SOLANA_REGISTRATION_TRANSACTION_FUNDING_ACCOUNT_SECRET_ARN="none" # Required for consensus node type. The ARN of the secret in AWS Secrets Manager with Registration Transaction Funding Account's key pair. Needs to have sufficient SOL to pay for on-chain validator creation

## HA nodes configuration ##
SOLANA_HA_NUMBER_OF_NODES="2"                     # Total number of RPC nodes to be provisioned. Default: 2
SOLANA_HA_ALB_HEALTHCHECK_GRACE_PERIOD_MIN="70"   # Time enough to initialize the instance
SOLANA_HA_NODES_HEARTBEAT_DELAY_MIN="10"          # Time sufficient enough for a node do sync
