#############################################################
# Example configuration for Starknet nodes runner app on AWS  #
#############################################################

## Set the AWS account is and region for your environment ##
AWS_ACCOUNT_ID="xxx"
AWS_REGION="us-east-1"                          # Regions supported by Amazon Managed Blockchain Access Ethereum: https://docs.aws.amazon.com/general/latest/gr/managedblockchain.html#managedblockchain-access

## Common configuration parameters #
AMB_ETHEREUM_NODE_NETWORK_ID="mainnet"          # All options: "mainnet", "goerli"
AMB_ETHEREUM_NODE_INSTANCE_TYPE="bc.m5.xlarge"  # For available options see: https://aws.amazon.com/managed-blockchain/instance-types/
STARKNET_L1_ENDPOINT="ws://ethereum-rpc.publicnode.com" # Websocket endpoint. Leave empty if using AMB_ETHEREUM_NODE.
STARKNET_NETWORK_ID="mainnet"                   # All options:  "mainnet", "sepolia", "sepolia-integration"
STARKNET_NODE_VERSION="v0.11.7"                 # Current Juno node version

STARKNET_SNAPSHOT_URL="none"                    # Download snapshot to speed up statup time. Copy the larest URL from the docuemntation: https://juno.nethermind.io/next/snapshots/#mainnet
# STARKNET_SNAPSHOT_URL="https://juno-snapshots.nethermind.dev/mainnet/juno_mainnet_v0.11.7_640855.tar" 

STARKNET_INSTANCE_TYPE="m6a.2xlarge"        # Recommended for Instance Store: i3.2xlarge, x86_64
STARKNET_CPU_TYPE="x86_64"                  # All options: "x86_64", "ARM_64". IMPORTANT: Make sure the CPU type matches the instance type used
# Data volume configuration
STARKNET_DATA_VOL_TYPE="gp3"                # Other options: "io1" | "io2" | "gp3" | "instance-store" . IMPORTANT: Use "instance-store" option only with instance types that support that feature, like popular for node im4gn, d3, i3en, and i4i instance families
STARKNET_DATA_VOL_SIZE="600"                # Current required data size to keep both smapshot archive and unarchived version of it
STARKNET_DATA_VOL_IOPS="3000"               # Max IOPS for EBS volumes (not applicable for "instance-store")
STARKNET_DATA_VOL_THROUGHPUT="700"          # Max throughput for EBS gp3 volumes (not applicable for "io1" | "io2" | "instance-store")
