[Unit]
Description="Run Network Sync checker service every 1 min"

[Timer]
OnCalendar=*:*:0/1
Unit=net-sync-checker.service

[Install]
WantedBy=multi-user.target
