#############################################################
# Example configuration for Scroll nodes runner app on AWS  #
#############################################################

## Set the AWS account is and region for your environment ##
AWS_ACCOUNT_ID="xxxxxxxx"
AWS_REGION="us-east-1"                          # Regions supported by Amazon Managed Blockchain Access Ethereum: https://docs.aws.amazon.com/general/latest/gr/managedblockchain.html#managedblockchain-access

## Common configuration parameters ##
AMB_ETHEREUM_NODE_NETWORK_ID="mainnet"          # All options: "mainnet", "goerli"
AMB_ETHEREUM_NODE_INSTANCE_TYPE="bc.m5.xlarge"  # For available options see: https://aws.amazon.com/managed-blockchain/pricing/?nc=sn&loc=3
SCROLL_NETWORK_ID="mainnet"                     # All options:  "mainnet"
SCROLL_NODE_CONFIGURATION="full"                # All options:   "full"
SCROLL_VERSION="scroll-v5.0.0"                  # Current required version of Scroll

SCROLL_INSTANCE_TYPE="m6a.2xlarge"
SCROLL_CPU_TYPE="x86_64"                 # All options: "x86_64", "ARM_64". IMPORTANT: Make sure the CPU type matches the instance type used
# Data volume configuration
SCROLL_DATA_VOL_TYPE="gp3"               # Other options: "io1" | "io2" | "gp3" | "instance-store" . IMPORTANT: Use "instance-store" option only with instance types that support that feature, like popular for node im4gn, d3, i3en, and i4i instance families
SCROLL_DATA_VOL_SIZE="2000"              # Current required data size to keep both smapshot archive and unarchived version of it
SCROLL_DATA_VOL_IOPS="3000"              # Max IOPS for EBS volumes (not applicable for "instance-store")
SCROLL_DATA_VOL_THROUGHPUT="700"         # Max throughput for EBS gp3 volumes (not applicable for "io1" | "io2" | "instance-store")