#############################################################
# Example configuration for TZ nodes runner app on AWS  #
#############################################################

## Set the AWS account is and region for your environment ##
AWS_ACCOUNT_ID="..."
AWS_REGION="..."

## Common configuration parameters ##
TZ_NETWORK="mainnet"                   # All options:  "mainnet", "sandbox", "ghostnet"
TZ_HISTORY_MODE="rolling"              # All options:   "full", "rolling", "archive"
TZ_SNAPSHOT_REGION="us"                # All options "eu", "asia" or "us"
TZ_DOWNLOAD_SNAPSHOT="true"            # All options: "true", "false"

# TZ snapshots download link
# ONLY define if it does not follow the pattern below, which is the default
# https://snapshots.<TZ_SNAPSHOT_REGION>.tzinit.org/<TZ_NETWORK>/<TZ_HISTORY_MODE>
# TZ_SNAPSHOT_URI="..."

# Binary download links (here using v0.20)
TZ_ARM64_OCTEZ_URI="https://gitlab.com/tezos/tezos/-/package_files/133748628/download"
TZ_X86_OCTEZ_URI="https://gitlab.com/tezos/tezos/-/package_files/133747462/download"

## Instance Nodes
# IMPORTANT: Make sure the CPU type (architecture) and the instance type match
TZ_INSTANCE_TYPE="c7g.xlarge"
TZ_CPU_TYPE="arm64"                    # All options: "x86_64", "arm64"

# Data volume configuration
TZ_DATA_VOL_TYPE="gp3"                 # Other options: "io1" | "io2" | "gp3" | "instance-store" . IMPORTANT: Use "instance-store" option only with instance types that support that feature, like popular for node im4gn, d3, i3en, and i4i instance families
TZ_DATA_VOL_SIZE="900"                 # Current required data size to keep both snapshot archive and unarchived version of it
TZ_DATA_VOL_IOPS="10000"               # Max IOPS for EBS volumes (not applicable for "instance-store")
TZ_DATA_VOL_THROUGHPUT="700"           # Max throughput for EBS gp3 volumes (not applicable for "io1" | "io2" | "instance-store")

## HA nodes configuration ##
TZ_HA_NUMBER_OF_NODES="2"              # Total number of RPC nodes to be provisioned. Default: 2
TZ_HA_ALB_HEALTHCHECK_GRACE_PERIOD_MIN="50"  # Time enough to initialize the instance
TZ_HA_NODES_HEARTBEAT_DELAY_MIN="50"   # Time sufficient enough for a node do sync
