#############################################################
# Example configuration for Sui Node Runner app on AWS      #
#############################################################
## Set the AWS account is and region for your environment ##
AWS_ACCOUNT_ID=""
AWS_REGION="us-east-1"                     # your region of choice

## Common configuration parameters #
SUI_NETWORK_ID="mainnet"                   # All options: "mainnet", "testnet" , "devnet"
SUI_INSTANCE_TYPE="m6i.4xlarge"

# Data volume configuration
SUI_DATA_VOL_TYPE="gp3"                    # Other options: "io1" | "io2" | "gp3"
SUI_DATA_VOL_SIZE="4000"                   # Current required data size to keep both snapshot archive and unarchived version of it
SUI_DATA_VOL_IOPS="3000"                   # Max IOPS for EBS volumes
SUI_DATA_VOL_THROUGHPUT="700"              # Max throughput for EBS gp3 volumes (not applicable for "io1" | "io2")
