Steward name,Validator alias,Node IP address,Node port,Client IP address,Client port,Validator verkey,Validator BLS key,Validator BLS POP,Steward DID,Steward verkey
StewardWallet1,{{ stewardNodeInfo1.nodeStackName }},{{ stewardNodeInfo1.nodeIpAddress }},9701,0.0.0.0,9702,{{ stewardNodeInfo1.verificationKeyForClientStack }},{{ stewardNodeInfo1.blsPublicKey }},{{ stewardNodeInfo1.proofOfPossessionForBlsKey }},{{ stewardDidInfo1.did }},{{ stewardDidInfo1.verkey}}
StewardWallet2,{{ stewardNodeInfo2.nodeStackName }},{{ stewardNodeInfo2.nodeIpAddress }},9701,0.0.0.0,9702,{{ stewardNodeInfo2.verificationKeyForClientStack }},{{ stewardNodeInfo2.blsPublicKey }},{{ stewardNodeInfo2.proofOfPossessionForBlsKey }},{{ stewardDidInfo2.did }},{{ stewardDidInfo2.verkey}}
StewardWallet3,{{ stewardNodeInfo3.nodeStackName }},{{ stewardNodeInfo3.nodeIpAddress }},9701,0.0.0.0,9702,{{ stewardNodeInfo3.verificationKeyForClientStack }},{{ stewardNodeInfo3.blsPublicKey }},{{ stewardNodeInfo3.proofOfPossessionForBlsKey }},{{ stewardDidInfo3.did }},{{ stewardDidInfo3.verkey}}
StewardWallet4,{{ stewardNodeInfo4.nodeStackName }},{{ stewardNodeInfo4.nodeIpAddress }},9701,0.0.0.0,9702,{{ stewardNodeInfo4.verificationKeyForClientStack }},{{ stewardNodeInfo4.blsPublicKey }},{{ stewardNodeInfo4.proofOfPossessionForBlsKey }},{{ stewardDidInfo4.did }},{{ stewardDidInfo4.verkey}}
