Trustee name,Trustee DID,Trustee verkey
TrusteeWallet1,{{ trusteeDidInfo1.did }},{{ trusteeDidInfo1.verkey }}
TrusteeWallet2,{{ trusteeDidInfo2.did }},{{ trusteeDidInfo2.verkey }}
TrusteeWallet3,{{ trusteeDidInfo3.did }},{{ trusteeDidInfo3.verkey }}
