AWS_RESOURCE_NAME_PREFIX="AlloraWorkerx"
AWS_ACCOUNT_ID="xxxxxxxxxxx"
AWS_REGION="us-east-1"
AWS_AMI_ID="ami-04b70fa74e45c3917"
AWS_INSTANCE_TYPE="t2.medium"
AWS_VPC_MAX_AZS="1"
AWS_VPC_NAT_GATEWAYS="0"
AWS_VPC_CIDR_MASK="24"

