#allora node run config

#Must fill all these in
ALLORA_WALLET_ADDRESS_KEY_NAME="xxxxxxxxxxx"
ALLORA_WALLET_ADDRESS_RESTORE_MNEMONIC="xxxxxxxxxxx" #if you don't have this, generate with allocmd
AWS_ACCOUNT_ID="xxxxxxxxxxx"
MODEL_REPO="https://github.com/allora-network/basic-coin-prediction-node"
###############################

AWS_RESOURCE_NAME_PREFIX="AlloraWorkerx"
AWS_REGION="us-east-1"
AWS_INSTANCE_TYPE="t3.medium"
AWS_VPC_MAX_AZS="1"
AWS_VPC_NAT_GATEWAYS="0"
AWS_VPC_CIDR_MASK="24"

# Data volume configuration
EDGE_DATA_VOL_TYPE="gp3"                                                          # Other options: "io1" | "io2" | "gp3" | "instance-store" . IMPORTANT: "instance-store" NOT recommended as it is ephermal and will be reset after stopping the instance. Use "instance-store" option only with instance types that support that feature, like popular for node g4dn, d3, i3en, and i4i instance families
EDGE_DATA_VOL_SIZE="256"                                                           # Current required data size to keep both snapshot archive and unarchived version of it (not applicable for "instance-store")
EDGE_DATA_VOL_IOPS="3000"                                                        # Max IOPS for EBS volumes (not applicable for "instance-store")
EDGE_DATA_VOL_THROUGHPUT="125"                                                    # Max throughput for EBS gp3 volumes (not applicable for "io1" | "io2" | "instance-store")

#Allora Node Worker Generation Config
ALLORA_WORKER_NAME="aws"
ALLORA_ENV="dev"

#wallet config
ALLORA_WALLET_HOME_DIR=""
ALLORA_WALLET_GAS="1000000"
ALLORA_WALLET_GAS_ADJUSTMENT="1.0"
ALLORA_WALLET_NODE_RPC="https://localhost:26657"
ALLORA_WALLET_MAX_RETRIES="1"
ALLORA_WALLET_DELAY="1"
ALLORA_WALLET_SUBMIT_TX="false"

#worker config
ALLORA_WORKER_TOPIC_ID="1"
ALLORA_WORKER_INFERENCE_ENTRYPOINT_NAME="api-worker-reputer"
ALLORA_WORKER_INFERENCE_ENDPOINT="http://source:8000/inference/{Token}"
ALLORA_WORKER_LOOP_SECONDS="30"
ALLORA_WORKER_TOKEN="ethereum"

#reputer config
ALLORA_REPUTER_TOPIC_ID="1"
ALLORA_REPUTER_ENTRYPOINT_NAME="api-worker-reputer"
ALLORA_REPUTER_SOURCE_OF_TRUTH_ENDPOINT="http://source:8888/truth/{Token}/{BlockHeight}"
ALLORA_REPUTER_LOOP_SECONDS="30"
ALLORA_REPUTER_TOKEN="ethereum"
ALLORA_REPUTER_MIN_STAKE="100000"
