AWS_ACCOUNT_ID="xxxxxxxxxxx"
AWS_RESOURCE_NAME_PREFIX="AlloraWorkerx"
AWS_REGION="us-east-1"
AWS_INSTANCE_TYPE="t3.medium"
AWS_VPC_MAX_AZS="1"
AWS_VPC_NAT_GATEWAYS="0"
AWS_VPC_CIDR_MASK="24"

# Data volume configuration
EDGE_DATA_VOL_TYPE="gp3"                                                          # Other options: "io1" | "io2" | "gp3" | "instance-store" . IMPORTANT: "instance-store" NOT recommended as it is ephermal and will be reset after stopping the instance. Use "instance-store" option only with instance types that support that feature, like popular for node g4dn, d3, i3en, and i4i instance families
EDGE_DATA_VOL_SIZE="256"                                                           # Current required data size to keep both snapshot archive and unarchived version of it (not applicable for "instance-store")
EDGE_DATA_VOL_IOPS="3000"                                                        # Max IOPS for EBS volumes (not applicable for "instance-store")
EDGE_DATA_VOL_THROUGHPUT="125"                                                    # Max throughput for EBS gp3 volumes (not applicable for "io1" | "io2" | "instance-store")