#############################################################
# Example configuration for FANTOM nodes runner app on AWS  #
#############################################################

## Set the AWS account is and region for your environment ##
AWS_ACCOUNT_ID="xxxxxxxxxxx"
AWS_REGION="us-east-1"

## Optional FANTOM snapshots download link                                          # IMPORTANT !!! Make sure the url is valid before you use it!
FANTOM_SNAPSHOTS_URL=https://snapshot.fantom.network/files/snapsync/latest/listtgzfiles.txt # Optional param. Do a full sync if not provided.

## Common configuration parameters ##
FANTOM_NETWORK="mainnet"                                                            # All options:  "mainnet", "testnet"
FANTOM_NODE_CONFIGURATION="read"                                                    # All options:   "read". Options "api" and "validator" are not yet supported

## Instance Nodes
FANTOM_INSTANCE_TYPE="i3en.xlarge"
FANTOM_CPU_TYPE="x86_64"                                                            # All options: "x86_64", "ARM_64". IMPORTANT: Make sure the CPU type matches the instance type used

# Data volume configuration
FANTOM_DATA_VOL_TYPE="instance-store"                                               # Other options: "io1" | "io2" | "gp3" | "instance-store" . IMPORTANT: Use "instance-store" option only with instance types that support that feature, like popular for node im4gn, d3, i3en, and i4i instance families
FANTOM_DATA_VOL_SIZE="2000"                                                         # Current required data size to keep both snapshot archive and unarchived version of it
FANTOM_DATA_VOL_IOPS="7000"                                                         # Max IOPS for EBS volumes (not applicable for "instance-store")
FANTOM_DATA_VOL_THROUGHPUT="400"                                                    # Max throughput for EBS gp3 volumes (not applicable for "io1" | "io2" | "instance-store")

## HA nodes configuration ##
FANTOM_HA_NUMBER_OF_NODES="2"                                                       # Total number of RPC nodes to be provisioned. Default: 2
FANTOM_HA_ALB_HEALTHCHECK_GRACE_PERIOD_MIN="10080"                                  # Time enough to initialize the instance
FANTOM_HA_NODES_HEARTBEAT_DELAY_MIN="120"                                           # Time sufficient enough for a node do sync
