AWS_ACCOUNT_ID="xxxxxxxxxxx"
AWS_REGION="xxxxxxxxxx"
XRP_INSTANCE_TYPE="r7a.12xlarge"
XRP_CPU_TYPE="x86_64" # All options: "x86_64". ARM currently not supported
DATA_VOL_TYPE="gp3"                    # Other options: "io1" | "io2" | "gp3" | "instance-store" . IMPORTANT: Use "instance-store" option only with instance types that support that feature, like popular for node im4gn, d3, i3en, and i4i instance families
DATA_VOL_SIZE="2000"                   # Current required data size to keep both smapshot archive and unarchived version of it
DATA_VOL_IOPS="12000"                  # Max IOPS for EBS volumes (not applicable for "instance-store")
DATA_VOL_THROUGHPUT="700"
XRP_HA_ALB_HEALTHCHECK_GRACE_PERIOD_MIN="60"
XRP_HA_NODES_HEARTBEAT_DELAY_MIN="5"
XRP_HA_NUMBER_OF_NODES="2"
HUB_NETWORK_ID="testnet"

