AWS_ACCOUNT_ID=123456789101
AWS_REGION=us-east-1

# The following configuration has been extensively tested and is recommended for use.
# The instance type is T3A, which is a cost-effective option for running Bitcoin Core.
# The instance size is LARGE, which provides a good balance of CPU and memory resources.
# The EBS volume size is set to 1000 GB, which is sufficient for storing the Bitcoin blockchain.
# The EBS volume type is GP3, which offers a good balance of performance and cost.
INSTANCE_CLASS=T3A
INSTANCE_SIZE=LARGE
EBS_VOLUME_SIZE=1000
EBS_VOLUME_TYPE=GP3

ASG_MIN_CAPACITY=2
ASG_MAX_CAPACITY=4
ASG_DESIRED_CAPACITY=2

# The following configuration has been tested and proven effective for a Bitcoin Core node to achieve full synchronization without incurring additional costs:
GP3_IOPS=3000
CPU_ARCHITECTURE=X86_64 # Options: X86_64 or ARM64
